<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
    <h1>Add a new course</h1>
    {%if messages%}
    {%for message in messages%}
        <h2>{{message}}</h2>
    {%endfor%}
    {%endif%}
        <form action="/add" method="POST">
        <p>Name : <input type="text" name="name"></p>
        <p >Describtion : <input type="text" name="desc" id="desc"></p>
        {% csrf_token %}
        <input type="submit" value="Add">
    </form>
    <h2>Courses </h2> <br>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Describtion</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {%for course in courses %}
        <tr>
            <td>{{course.name}}</td>
            <td>{{course.describtion.content}}

            </td>
            <td>{{course.created_at}}</td>
            <td><a href="/confRem/{{course.id}}">remove</a></td>
        </tr>
        {%endfor%}


     
       


      
    </table>
    <style>
            table,th,td{border: 1px solid black;} 
            #desc{height: 50px;}
        </style>
</body>
</html>